################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Urna/UnitTestProjectUrna/bin/Debug
/Urna/UnitTestProjectUrna/obj/Debug
